* {
  margin: 0;
}

html, 
body {
  --grey: #bbb;
  --blue: hsl(222deg 43% 43%);
  --orange: #f78414;
  font-family: 'Roboto', sans-serif;  
  background-color: #f6f8fa;
}

body {
  line-height: 1.3;
}

#catalog {
  max-width: 55%;
  margin: 0 auto;
  padding-bottom: 20%;
}

header img {
  margin: auto;
  display: block;
}

header p {
  padding: 0 30%;
  text-align: justify;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  font-size: large;
  color: var(--orange);
}

hr.rounded {
  border-top: 8px solid var(--grey);
  margin: 25px 0px;
}

li.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  margin: 10px; 
  padding: 10px 0;
  border: 2px solid #cbcbd2;
  box-shadow: 0px 1px 6px #00000029;
  word-wrap: break-word;
  background-color: #fff;
}

.product-img {
  width: 100%;
  height: 80px;
  max-width: 100px;
  padding: 1%;
  border: 1px solid #cbcbd2;
  box-shadow: 0px 1px 6px #00000029;
}

.divider-vertical {
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: var(--grey);
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

ul.info li:first-child {
  color: var(--blue);   
}

ul.info li:last-child {
  color: #fff;   
  background-color: var(--orange);
  font-weight: 500;
  font-size: smaller;
  width: 150px;
  padding: 3px;
}

ul.info li:first-child,
ul.info li:last-child {
  font-weight: 600;
}

ul.info li:last-child,
li img,
li.row,
hr.rounded {
  border-radius: 10px;
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: small;
  text-align: center;
  color: var(--grey);
  background-color: #474747;
}

#caption {
  padding: 10px;
  display: none;
}

#copyright {
  padding: 5px;
  background-color: #302f2f;
}

button {
  background-color: var(--orange);
  color: #fff;
  border-radius: 5px;
  margin: 3px;
}


/* responsive layout */
@media screen and (max-width: 920px) {
  #catalog {
    max-width: 70%;
  }
}

@media screen and (max-width: 767px) {
  #catalog {
    max-width: 90%;
    line-height: 1.1;
    padding-bottom: 40%;
  }
  header p {
    padding: 0 10%;
    font-size: smaller;
  }
}

@media screen and (max-width: 500px) {
  li.row {
    padding: 12px;
  } 
  ul.info {
    margin-top: 2px;
  }
}

@media screen and (max-width: 430px) {
  header img {
    max-width: 200px;
  }
  #catalog {
   padding-bottom: 65%;
   font-size: smaller;
  }
  .product-img,
  .divider-vertical {
    display: none;
  }
  #catalog {
    max-width: 100%;
  }
  li.row {
    display: grid;
    grid-template-columns: 2fr;
    padding: 5px;
  }
  footer {
    font-size: smaller;
  }
}